.scroll{
  background: url("ena.webp") repeat-x;
  height: 250px;
  width: 250px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-250px, 0, 0); /* The image width */
  }
}
